@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    --background: #ffffff;
    --foreground: #1e1b18;
    --primary: #1f1d1c;
    --primary-foreground: #f7f7f5;
  } */
}

body {
  @apply bg-background text-foreground;
  height: 100vh;
  margin: 0;
}
